body {
    background-color: #404040;    
}

p {
    color: #404040;
}

.header {
    display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    margin-bottom: 2%;
}

#logo {
    width: 100px;
    display: inline-block; 
    margin-top: 2%;
    margin-right: 15px;
    float: left;
}

.nav-link {
    color: #f7f5ba;
}

.index-on,
.portfolio-on,
.contact-on {
    border-bottom: 6px solid;
    margin-bottom: 2%;
}

.nav-link:hover {
    color: #e2dfac;
}


#about-aside {
    width: 90%;
    display: inline-block;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-item {
    margin: 8px;
}

.lead {
    font-size: .9em;
}

.lead-contact {
    font-size: .9em;
    text-align: center;
}

#name {
    color: rgb(255, 255, 255);
    font-family: 'Heebo', sans-serif;
    font-size: 2.5em;
    margin-top: 2%;
    display: inline-block;
}


.main-content {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content-row {
    background-color: white;
    width: 85%;
    margin: 0 auto;
}

.btn-code {
    background-color: lightblue;
    text-align: center;
}

.btn-code:hover {
    background-color: rgb(86, 159, 184);
}

.btn {
    background-color: #404040;
    color: white;
}

.btn:hover {
    background-color: #202020;
    cursor: pointer;
}

.card {
    padding-top: 1%;
    padding-bottom: 2%;
}
.card-img-top {
    max-width: 100%;
}

.card-text {
    font-size: .75em;
}

.card-body {
    flex-grow: 1;
}

.card-title {
    text-align: center;
}

.footer {
    margin-top: 15px;
}

.footer-text {
    color: white;
    text-align: center;
}

.logo {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.logos {
    text-align: center;
}

.projbutton {
    margin-top: 5px;
}

.email-address {
    color: blue;
    font-size: 2rem;
}